<web-app id="simple" version="2.4">
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>edu.ucla.cs.cs144.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>edu.ucla.cs.cs144.ItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProxyServlet</servlet-name>
        <servlet-class>edu.ucla.cs.cs144.ProxyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProxyServlet</servlet-name>
        <url-pattern>/suggest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>edu.ucla.cs.cs144.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
</web-app>
